/*#pageInfo div .ui-header a { display:none;}*/

/*
.ui-mobile [data-role="popup"], .ui-page {
    background: #000000;
}
*/

/*.ui-mobile [data-role="popup"], .ui-page {
    opacity: 1;
    display: block !important;
    -webkit-transition: opacity 1s ease-in;
}*/

/*
.ui-popup-background {
    opacity: 0.5;
    display: block !important;
    -webkit-transition: opacity 0.5s ease-in;
}

.ui-popup-background.pop.in {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
}

.ui-popup {
    min-height: 100% !important;
    background: transparent !important;
}
*/
